@CHARSET "ISO-8859-1";


.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}


.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}
.coluna1{
	 width: 100px;
 	 _width: 495px;
}
.coluna2{
	width: 12px;
	text-align: left;
}
.coluna3{
	width: 12px;
	text-align: left;
}
.destaque{
	font-weight: bold;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.full-width
{

}
